*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media(max-width: 375px){
  :root{
    --main-spacing: 1rem;
    --font-size: 10px;
    --line-height: 1.6;
    --max-width: 90%;
  }
}

body, #root{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: var(--main-spacing);
  font-family: 'Roboto Slab','Playfair Display', system-ui, sans-serif, Arial
}

header{
  border: 1px solid black;
}

nav{
  border: 1px solid black;
  padding: var(--main-spacing);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--main-spacing);
}

.branding{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size);
}

nav h1, .material-symbols-outlined{
  font-size: calc(var(--font-size) + 4px);
  padding: var(--main-spacing);
}

.material-symbols-outlined{
  font-size: calc(var(--font-size)*2);
}

ul{
  list-style: none;
  display: flex;
  gap: var(--main-spacing);
}

ul li{
  font-size: calc(var(--font-size) + 2px);
  margin-right: calc(var(--main-spacing)/2);
}

main{
  border: 1px solid black;
  height: 75vh;
  padding: var(--main-spacing);
  display: flex;
  flex-direction: column;
  gap: var(--main-spacing);
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

.homeImage{
  width: 50%;
  margin: var(--main-spacing) 0 var(--main-spacing) 0;
  filter: grayscale(100%);
}

main h2{
  font-size: calc(var(--font-size)*2);
}

.intro, .intermediary, .writeToUs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: calc(var(--main-spacing));
  max-width: var(--max-width);
  line-height: var(--line-height);
}

/* p, ul, li{
  line-height: var(--line-height);
} */

.intermediary{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--main-spacing);
}

.intermediary section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.writeToUs{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: var(--main-spacing);
}

.userInput{
  width: 100%;
  resize: none;
  outline: none;
  border: none;
}

.userInput {
  padding: calc(var(--main-spacing) / 2);
  font-size: var(--font-size);
  color: #333; 
}

.btnContainer{
  display: flex;
  gap: var(--main-spacing);
  margin-top: var(--main-spacing);
  justify-content: center;
}

form{
  border: 1px solid black;
  width: 100%;
}

button{
  padding: calc(var(--main-spacing)/2);
  margin: var(--main-spacing);
  border: none;
}

footer{
  flex-grow: 1;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.copy{
  border: 1px solid black;
  font-size: var(--font-size);
  line-height: var(--line-height);
  padding: var(--main-spacing);
}

.contacts{
  border: 1px solid black;
  font-size: var(--font-size);
  display: flex;
  gap: var(--main-spacing);
  padding: calc(var(--main-spacing)/2);
}

/*ProductPage.jsx*/

.productPage{
  max-width: var(--max-width);
  height: 100%;
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--main-spacing); 
  overflow-y: auto;
}

.productCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: calc(var(--max-width)/2);
  /* height: 35%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--main-spacing) 0 0 0;
}

.productCard h3, p{
  font-size: var(--font-size);
  margin-top: var(--main-spacing);
}

.productImage{
  width: 25%;
  margin-top: var(--main-spacing);
}

.productPrice{
  color: grey;
  font-size: var(--font-size);
}

.productCard button {
  border: none;
  outline: 0;
  padding: 8px;
  color: white;
  background-color: #000;
  border-radius: 5px;
  cursor: pointer;
  /* width: 50%; */
  font-size: var(--font-size);
  font-family: 'Courier New', Courier, monospace, sans-serif, serif;
}

.productCard button:hover {
  opacity: 0.7;
}


